#login-form {
  margin-top: 130px;
}

#login-form input {
  display: block;
  color: white;
  transition: all 250ms ease-in-out;
  text-align: center;
  margin: 0 auto;
}

#login-form input:hover {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

#login-form input::placeholder {
  color: white;
}

#login-form input:first-child {
  padding: 10px;
  border-radius: 20px;
  font-size: 35px;
  font-weight: 900;
}

#login-form input:first-child:focus {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

#login-form input:last-child {
  font-size: 20px;
  border-radius: 10px;
  padding: 5px 10px;
}

#login-form input:last-child:hover {
  transform: translateY(-5px);
}
